xml/questions.xsd.old

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="questions">
		<xs:annotation>
			<xs:documentation>El archivo xml a validar con este esquema se llama "questions_xsd.xml". El diseño del esquema utilizado es del tipo Russian Doll</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="question" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="type"/>
							<xs:element type="xs:string" name="title"/>
							<xs:element type="xs:string" name="option" maxOccurs="unbounded" minOccurs="0"/>
							<xs:element type="xs:string" name="answer" maxOccurs="unbounded" minOccurs="1"/>
						</xs:sequence>
						<xs:attribute name="id" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="question\d+"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
